<div class="table-wrapper-scroll-y my-custom-scrollbar" style="margin-left: 20px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Unit Name</th>
        <th scope="col">Car Info</th>
        <th scope="col">Active</th>
        <th scope="col">Registration No.</th>
        <th scope="col">No. of tours</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let vehicle of vehicles" (click)="details(vehicle.id)">
        <td>{{vehicle.id}}</td>
        <td>{{vehicle.unitName}}</td>
        <td>{{vehicle.carInfo}}</td>
        <td>{{vehicle.active}}</td>
        <td>{{vehicle.registrationNumber}}</td>
        <td>{{vehicle.numberOfTours}}</td>
      </tr>

    </tbody>
  </table>
</div>

<!-- <script>
  var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
  var ps = new PerfectScrollbar(myCustomScrollbar);
  var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');
  myCustomScrollbar.onscroll = function () {
    scrollbarY.style.cssText = `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;}
</script> -->