<ng-container *ngIf="popup">
<div [ngClass]="_dataService.currentCreate.getValue() == true ? 'grey-bg' : ''">
<form #vehicleForm="ngForm" (ngSubmit)="createVehicle()" *ngIf="popup" class="popup">
    <div class="createDiv">
        <br />
        <br />

        <input id="unitName" type="text" class="form-control input" placeholder="unit name" name="unitName" #unitName
            [(ngModel)]="vehicle.unitName"><br />


        <input id="carInfo" type="text" class="form-control input" name="carInfo" placeholder="car info" #carInfo
            [(ngModel)]="vehicle.carInfo"><br />


        <input id="active" type="text" class="form-control input" name="active" placeholder="active" #active
            [(ngModel)]="vehicle.active"><br />


        <input id="registrationNumber" type="text" class="form-control input" placeholder="registration number"
            name="registrationNumber" #registrationNumber [(ngModel)]="vehicle.registrationNumber"><br />


        <input id="numberOfTours" type="text" class="form-control input" placeholder="number of tours"
            name="numberOfTours" #numberOfTours [(ngModel)]="vehicle.numberOfTours"><br />



        <button id="saveButton" type="submit">SAVE</button><br />

        <button id="cancelButton" (click)="cancel()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <br />



    </div>
</form>
</div>
</ng-container>