<form #searchForm="ngForm" (ngSubmit)="searchVehicle()">
  <input id="searchText" type="text" class="form-control" placeholder="search" name="searchText" [(ngModel)]="searchText">
  <br />
  <button id="buttonSearch" type="submit">SEARCH</button>

</form>
<br />
<ng-container *ngIf="show">
  <div [ngClass]="_dataService.currentSearch.getValue() == true ? 'grey-bg' : ''">
<table *ngIf="show"  class="popup searchDiv table">
  <tr>
    <th>Id</th>
    <th>Unit Name</th>
    <th>Car Info</th>
    <th>Active</th>
    <th>Reg No.</th>
    <th>No. of tours</th>
  </tr>
  <tbody style="cursor: pointer;" class="hoverBody">
  <tr *ngFor="let vehicle of filteredVehicles" (click)="details(vehicle.id)">
    <!--(click)="details(vehicle.id)-->
    <td>{{vehicle.id}}</td>
    <td>{{vehicle.unitName}}</td>
    <td>{{vehicle.carInfo}}</td>
    <td>{{vehicle.active}}</td>
    <td>{{vehicle.registrationNumber}}</td>
    <td>{{vehicle.numberOfTours}}</td>
    </tr>
  </tbody>
</table>
</div></ng-container>