#buttonSearch{
    font-family: "Roboto", sans-serif;
    outline: 0;
   width: 40%;
   border-radius: 6px;
  border: 0;
  padding: 7px;
  margin-left: 80px;
  background-color:white;
  color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #343a40;
    box-shadow: 0 1px 0 0 #343a40;
  }
  .popup{
    position: fixed ;
    left: calc(50% - 350px);
    top: 24%;    
  }
  .grey-bg {
    position:absolute;
      left: 0;
      top: 0;
      bottom:0;
      right: 0;
      width: 100%;
      height: 100%;    
     background-color:  rgba(99, 81, 81, 0.2);
  }
  .searchDiv{
    background-color: white;
    width: 800px;
    height: 100;
}
.hoverBody tr:hover {
  background-color: #e7e7e7;
}