<ng-container *ngIf="popup">
    <div [ngClass]="_dataService.currentEdit.getValue() == true ? 'grey-bg' : ''">
<form #vehicleForm="ngForm" (ngSubmit)="editVehicle()" *ngIf="popup" class="popup">
    <div class="editDiv">
        <br />
        <br />
   
    <input id="unitName" type="text" class="form-control input" name="unitName" #unitName [(ngModel)]="vehicle.unitName"><br/>

    
    <input id="carInfo" type="text" class="form-control input" name="carInfo" #carInfo [(ngModel)]="vehicle.carInfo"><br/>

    
    <input id="active" type="text" class="form-control input" name="active" #active [(ngModel)]="vehicle.active"><br/>

    
    <input id="registrationNumber" type="text" class="form-control input" name="registrationNumber" #registrationNumber [(ngModel)]="vehicle.registrationNumber"><br/>

    
    <input id="numberOfTours" type="text" class="form-control input" name="numberOfTours" #numberOfTours [(ngModel)]="vehicle.numberOfTours"><br/>


    <button id="saveButton" type="submit">SAVE</button><br />

        <button id="cancelButton" (click)="cancel()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <br />

    </div>
</form>
</div></ng-container>
