<div *ngIf="vehicle">
   <div id="detailsDiv">
      <br/>
     <div class="row"> <h4>{{vehicle.unitName}} </h4></div>
      <div class="row">
         <div class="column">
            Id: <br />
            Car info: <br />
            Active: <br />
            Registration No.: <br />
            Number of tours: <br />
         </div>
         <div>
            <div class="column" style="margin-left: 2px;">
               {{vehicle.id}}<br />
               {{vehicle.carInfo}}<br />
               {{vehicle.active}}<br />
               {{vehicle.registrationNumber}}<br />
               {{vehicle.numberOfTours}}<br />
            </div>
         </div>

      </div>
      <br/>
      <div id="buttons"><button class="btn btn-primary" (click)="delete(vehicle.id)">Delete</button> 
      <button class="edit btn btn-primary" (click)=edit()>Edit</button></div>
      <br/>
      <br/>

   </div>
</div>

