<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li style="margin-left: 380px;" class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/text">Text</a>
        </li>
        <li class="nav-item" style="color: white; margin-left: 1220px; 
        font-size: x-large;  position: absolute;"> Hello {{userr.user.username}}!</li><br />
        <li class="nav-item" style="margin-left: 1400px; 
        position: absolute;">
            <a class="nav-link" href="/">Log out</a>
        </li>
    </ul>
</nav>

<div class="container">

    <br />


    <div class="side-menu" id="sidenav">
        <a href="#" id="about"><i class="fa fa-eercast" aria-hidden="true"></i> Change</a>
        <a href="#" id="blog"><i class="fa fa-bullhorn" aria-hidden="true"></i> Blogsss</a>
        <a href="#" id="projects"><i class="fa fa-heart-o" aria-hidden="true"></i> Projects</a>
        <a href="#" id="contact"><i class="fa fa-info-circle" aria-hidden="true"> Contact</i></a>
    </div><!-- closing of sidemenu-->

    <div class="row">
        <div class="column">
            <app-list-vehicles></app-list-vehicles><br />
        </div>
        <div id="searchAndDetails" class="column">
            <app-search-vehicles></app-search-vehicles>
            <app-details-vehicles></app-details-vehicles>

        </div>
    </div>

    <br />
    <app-create-vehicles></app-create-vehicles>
    <app-edit-vehicles></app-edit-vehicles>
    <button class="btn btn-primary" (click)="create()">Create</button>

    <br /> 

    <section id="tabs">

        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Find on map</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Reports</a>

            </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                style="position: relative;">
                
                <br />
                <div *ngIf="position">
                    Latitude: {{vehicle.lat}}
                    <br />
                    Longitude: {{vehicle.lng}}
                    <br />
                    <agm-map *ngIf="position" [latitude]="vehicle.lat" [longitude]="vehicle.lng"></agm-map>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <app-reports-vehicles></app-reports-vehicles>
            </div>
        </div>

    </section>

</div>