<div id="formDiv">
    <form #loginForm="ngForm" (ngSubmit)="login()" id="loginForm">


        <input id="username" type="text" class="form-control" name="username" [(ngModel)]="username"
            placeholder="username" required><br />
           
        <input id="password" type="text" class="form-control" name="password" [(ngModel)]="password"
            placeholder="password" required><br />
        <!-- <div><label *ngIf="fail">{{fail}}</label></div> -->
        <small *ngIf="fail" class="form-text text-muted">{{fail}}</small>
        <div>
            <button id="loginButton" type="submit">LOGIN</button>
        </div>
        
    </form>
</div>
